html {
  height: 100%;
}
body {
  width: 100%;
  background: linear-gradient(to bottom, #f6f1d3, #648880 85%, #293f50) fixed;
}
.container {
  background: $light-grey;
  border: 1px solid $light-grey-border; 
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2rem;
   box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
      width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;

}

.container__header {
  border-bottom: 1px solid $light-grey-border;
  padding: 1rem;

  label {
    cursor: pointer;
    font-size: 1rem;
  }

  > :last-child {
    align-items: center;
    display: flex;
  }
}

.container__message {
  color: $light-color;
  margin: 2rem auto;
  text-align: center;
}

.container__footer {
  border-top: 1px solid $light-grey-border;
  padding: 1rem 1rem 0 1rem;
}
